body {
    margin-top: 70px;
}

/* Custom styles for the separator */
.separator {
    border: 0;
    height: 4px;
    background: linear-gradient(to left, #6c757d, #f8f9fa, #6c757d);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
    position: relative;
    /* Separación de arriba y abajo */
    margin-top: 50px;
    margin-bottom: 50px;
}

.pricing-header {
    max-width: 700px;
}

.image-custom {
    object-fit: cover;
}